<%= form_with(model: offering) do |form| %>
  <% if offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
        <% offering.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3 pb-3">
    <div class="col-md-5">
      <%= form.label :location_id, 'Local de colheita', class: "form-label" %>
      <%= form.collection_select(:location_id, Location.all, :id, :name, {prompt: false }, { class: 'form-select' }) %>
    </div>
    <div class="col-md-4">
      <%= form.label :closes_at_date, 'Encerra em', class: "form-label" %>
      <%= form.select :closes_at_date, seven_days_from_now, { prompt: false }, { class: "form-select", "aria-label" => 'Encerra em' } %>
    </div>
    <div class="col-md-3">
      <%= form.label :closes_at_time, 'Encerra às', class: "form-label" %>
      <%= form.time_select :closes_at_time, {minute_step: 15, start_hour: 8, end_hour: 20, time_separator: ''}, { class: "form-select", "aria-label" => 'Encerra às' } %>
    </div>
  </div>

  <h5 class="h5">Produtos disponíveis</h5>

  <div class="row h6 mt-3">
    <div class="field col-5">
      Produto
    </div>
    <div class="field col-4">
      Quantidade disponível
    </div>
  </div>

  <div class="row g-3 pb-3">
    <%= form.fields_for :offers do |subform| %>
      <div class="col-5">
        <%= subform.label :product_name, 'Nome do produto', class: "form-label sr-only", placeholder: "Produto" %>
        <%= subform.text_field :product_name, class: "form-control" %>
      </div>
      <div class="field col-4">
        <%= subform.label :amount, "Quantidade", class: "form-label sr-only" %>
        <%= subform.number_field :amount, class: "form-control", placeholder: "Quantidade" %>
      </div>
      <div class="field col-3">
        <%= subform.label :_destroy  do %>
          <%= subform.check_box :_destroy %> Remover produto
        <% end %>
      </div>


    <% end %>
  </div>



  <div class="actions text-right">
    <%= form.submit submit_label, class: 'btn btn-primary' %>
  </div>
<% end %>
