<%= form_with(model: offering) do |form| %>
  <% if offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
        <% offering.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :closes_at %>
    <%= form.datetime_select :closes_at %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
