<div class="col-5">
  <%= form.label :product_name, 'Nome do produto', class: "form-label sr-only", placeholder: "Produto" %>
  <%= form.text_field :product_name, class: "form-control", placeholder: 'Produto' %>
</div>
<div class="field col-4">
  <%= form.label :amount, "Quantidade", class: "form-label sr-only" %>
  <%= form.number_field :amount, class: "form-control", placeholder: "Quantidade" %>
</div>
<div class="field col-3">
  <%= form.label :_destroy  do %>
    <%= form.check_box :_destroy %> Remover produto
  <% end %>
</div>

