<p id="notice"><%= notice %></p>

<h2 class="border-bottom border-gray pb-2 mb-0">Oferendas</h2>

<ul class='list-group'>
  <% @offerings.each do |offering| %>
    <li class='list-group-item'>
      <div class='d-flex justify-content-between'>
        <div>
          <%= link_to offering do %>
            Oferenda para o dia <%= offering.closes_at.strftime('%d/%m') %>
          <% end %>
        </div>
        <div>
          <%= link_to 'Show', offering %>
          <%= link_to 'Edit', edit_offering_path(offering) %>
          <%= link_to 'Destroy', offering, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'Nova oferenda', new_offering_path %>
