<p id="notice"><%= notice %></p>

<div class="mt-3">
  <div class="float-left h3">
    Oferendas
  </div>

  <div class='float-right'>
    <%= link_to 'Nova oferenda', new_offering_path, class: 'btn btn-primary' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Local de Colheita</th>
      <th scope="col">Encerra em</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
      <tr>

        <th scope="row">
          <%= link_to offering do %>
            <%= offering.location&.name %>
          <% end %>
        </th>
        <td><%= I18n.l(offering.closes_at, format: '%d/%m - %A, %H:%M') %></td>
        <td><%= offering.status %></td>
        <td>
          <u><%= link_to 'Visualizar', offering %></u>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

