<p id="notice"><%= notice %></p>

<p>
  <strong>Ends at:</strong>
  <%= @offering.closes_at %>
</p>

<p>
  <strong>Published:</strong>
  <%= @offering.published %>
</p>

<ul>
  <% @offering.offers.each do |offer| %>
    <li><%= offer.product.name %>: <%= offer.amount%></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
