<p id="notice"><%= notice %></p>

<div class="navbar">
  <div class="h3 float-left">
    Oferenda
  </div>

  <%= link_to 'Voltar', offerings_path, class: 'btn btn-secondary float-right' %>
</div>

<div class="row g-3 pb-3 border-bottom">
  <div class="col-md-5">
    <label for="location_id" class="form-label">Local de Colheita</label>
    <input type="text" readonly class="form-control" id="location_id" value="<%= @offering.location.name %>">
  </div>
  <div class="col-md-4">
    <label for="closes_at" class="form-label">Encerra em</label>
    <input type="text" readonly class="form-control" id="closes_at" value="<%= I18n.l(@offering.closes_at, format: '%d/%m (%A) às %H:%M') %>">
  </div>
</div>

<div class="h4 mt-3">
  Produtos disponíveis
</div>

<%= form_with(model: [@offering, @offer]) do |form| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% @offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="field col-md-4">
      <%= form.label :product_name, 'Produto', class: 'form-label' %>
      <%= form.text_field :product_name, class: "form-control" %>
    </div>
    <div class="field col-md-4">
      <%= form.label :amount, 'Quantidade', class: 'form-label' %>
      <%= form.text_field :amount, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= form.submit 'Adicionar item', class: "btn btn-primary btn-md btn-block" %>
    </div>
  </div>
<% end %>

<ul class='list-group'>
  <% @offering.offers.order(product_name: :asc).each do |offer| %>
    <% next unless offer.persisted? %>
    <li class='list-group-item'>
      <div class='d-flex justify-content-between'>
        <span>
          <%= offer.product_name %>: <%= offer.amount %>
        </span>
        <%= link_to offering_offer_url(@offering.id, offer.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
          <i class='fas fa-trash fa-sm'></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
