<p id="notice"><%= notice %></p>

<p>
  <strong>Ends at:</strong>
  <%= @offering.closes_at %>
</p>

<p>
  <strong>Published:</strong>
  <%= @offering.published %>
</p>

<ul class='list-group'>
  <% @offering.offers.each do |offer| %>
    <li class='list-group-item'>
      <div class='d-flex justify-content-between'>
        <span>
          <%= offer.product_name %>: <%= offer.amount %>
        </span>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
