<p id="notice"><%= notice %></p>

<p>
  <strong>Ends at:</strong>
  <%= @offering.closes_at %>
</p>

<p>
  <strong>Published:</strong>
  <%= @offering.published %>
</p>

<ul class='list-group'>
  <% @offering.offers.each do |offer| %>
    <li class='list-group-item'>
      <div class='d-flex justify-content-between'>
        <span>
          <%= offer.product_name %>: <%= offer.amount %>
        </span>
      </div>
    </li>
  <% end %>
</ul>

<%= form_with(model: [@offering, @offer]) do |form| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% @offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
