<%= form_with(model: harvest) do |form| %>
  <% if harvest.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% harvest.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row h6 mt-3">
    <div class="field col-6">
      Produto
    </div>
    <div class="field col">
      Quantidade disponível
    </div>
    <div class="field col">
      Quantidade pedida
    </div>
  </div>
  <%= form.fields_for :harvested_products, ordered_products(form.object.harvested_products) do |f| %>
    <div class="row mb-3">
      <div class="field col-6">
        <%= f.label :product_name, "Produto", class: "form-label sr-only" %>
        <%= f.text_field :product_name, class: "form-control", placeholder: "Produto", readonly: true, tabindex: -1 %>
      </div>
      <div class="field col">
        <label for="available_amount" class="form-label sr-only">Quantide disponível</label>
        <input type="text" readonly class="form-control" id="available_amount" value="<%= available_amount_for(f.object.product_name) %>" tabindex="-1">
      </div>
      <div class="field col">
        <%= f.label :amount, "Quantidade", class: "form-label sr-only" %>
        <%= f.number_field :amount, placeholder: "0", min: 0,
          class: "form-control #{invalid_class(f.object, 'amount')}"
        %>
        <!-- div class="invalid-feedback">
          <%= f.object.errors[:amount].first %>
        </div -->
      </div>
    </div>
  <% end %>

  <div class="actions text-right">
    <%= form.submit "Salvar pedido", class: "btn btn-primary btn-md btn-block" %>
  </div>
<% end %>
