<div class="navbar">
  <div class="h3 float-left">
    Pedido realizado
  </div>

  <%= link_to 'Voltar', root_path, class: 'btn btn-secondary float-right' %>
</div>

<p id="notice"><%= notice %></p>

<p class="mt-1 mb-2">
  <b>Pedido feito em:</b><%= @harvest.created_at.strftime(' %d/%m às %H:%M') %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% @harvest.harvested_products.with_amount.order(product_name: :asc).each do |product| %>
      <tr>
        <th scope="row"><%= product.product_name %></th>
        <td><%= product.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
